body {
  background: darkred;
  width: auto;
  height: auto;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-bottom: -85px;
}

img {
  width: 700px;
  height: 700px;
  margin: 10px;
  transition: all 1s;
  transition-timing-function: ease-in-out;
}

img:hover {
  transform: scale(2) rotate(1080deg);
}

.caption {
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 3em;
  color: white;
  margin-top: -95px;
}
